@model RecipeWebsiteMVC.Models.dynamicField.IngredientsViewModel;

<h4>Ingredient</h4>
<hr />
<div asp-validation-summary="All"></div>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div><input type="button"
                         value="Add"
                          id="NewIngridient"/>  </div>
            <div class="form-group">
                <input asp-for="ingredients[0].Unit" class="form-control" placeholder="Antal" />
                <span asp-validation-for="ingredients[0].Unit" class="text-danger"></span>
           
                <input asp-for="ingredients[0].UnitType" class="form-control" placeholder="Enhet"/>
                <span asp-validation-for="ingredients[0].UnitType" class="text-danger"></span>
         
                <input asp-for="ingredients[0].Name" class="form-control" placeholder="Namn på ingridiens" />
                <span asp-validation-for="ingredients[0].Name" class="text-danger"></span>
            </div>
           
            <div id="input_fields_ingridients">
                 

                </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<!--
<script src="~/lib/jquery/dist/jquery.min.js"></script>
-->
<script src="~/js/site.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
