
@if(TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        <h4>@TempData["Success"]</h4>
     </div>
}
@if(TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">>
        <h4>@TempData["Error"]</h4>
     </div>
}